<div class='modal-wrapper'>
  <div class='film-picture'>

    {{#if poster_path}}
    <img class='picture' src='https://image.tmdb.org/t/p/w300{{poster_path}}' alt='{{original_title}}' />
    {{else}}
    <div class='picture'></div>
    {{/if}}


  </div>

  <div class='movie'>

    {{#if title}}
    <h2 class='movie-info-title'>{{title}}</h2>
    {{else}}
    <h2 class='movie-info-title'>{{name}}</h2>
    {{/if}}
    <ul class='movie-info'>
      <li class='info-criteria'>
        <p class='info-criteria-item'>Vote / Votes</p>
        <p class='info-api-item'>
        <p class='film-raiting-accent'>{{vote_average}}</p>
        <span class='film-raiting-slash'> / </span>
        {{vote_count}}
        </p>
      </li>
      <li class='info-criteria'>
        <p class='info-criteria-item'>Popularity</p>
        <p class='info-api-item'>{{popularity}}</p>
      </li>
      <li class='info-criteria'>
        <p class='info-criteria-item'>Original Title</p>
        <p class='info-api-item'>{{original_title}}</p>
      </li>
      <li class='info-criteria'>
        <p class='info-criteria-item'>Genre</p>

        <div class='info-criteria-genre'>
          {{#each inModalGenreName}}
          <p class='info-api-item try'>{{this}}</p>
          {{/each}}
        </div>
      </li>
    </ul>
    <h3 class='movie-about'>About</h3>
    <p class='movie-text'>{{overview}}</p>
    <div class='movie-buttons'>
      {{#if watched}}
      <button type='button' class='modal-button movie-add-watched' id='{{id}}' {{watched}}>remove from
        Watched</button>
      {{else}}
      <button type='button' class='modal-button movie-add-watched' id='{{id}}'>add to Watched</button>
      {{/if}}

      {{#if queue}}
      <button type='button' class='modal-button movie-add-queue' id='{{id}}' {{queue}}>remove from
        queue</button>
      {{else}}
      <button type='button' class='modal-button movie-add-queue' id='{{id}}'>add to queue</button>
      {{/if}}
    </div>
  </div>

</div>