<div class="modal-wrapper">
<div class='film-picture'>
  <img class='picture' src='https://image.tmdb.org/t/p/w300{{poster_path}}' alt='{{original_title}}' />
</div>

<div class='movie'>
  <h2 class='movie-info-title'>{{title}}</h2>
  <ul class='movie-info'>
    <li class='info-criteria'>
      <p class='info-criteria-item'>Vote / Votes</p>
      <p class='info-api-item'>
        <span class="film-raiting-accent">{{vote_average}}</span> 
        <span class="film-raiting-slash"> / </span>
        {{vote_count}}
      </p>
    </li>
    <li class='info-criteria'> 
      <p class='info-criteria-item'>Popularity</p>
      <p class='info-api-item'>{{popularity}}</p>
    </li>
    <li class='info-criteria'>
      <p class='info-criteria-item'>Original Title</p>
      <p class='info-api-item'>{{original_title}}</p>
    </li>
    <li class='info-criteria'>
      <p class='info-criteria-item'>Genre</p>
      {{#each genreName}}
      <p class='info-api-item try'>{{this}}</p>
      {{/each}}
    </li>
    <li class='info-api'>
      
     
     
     
    </li>
  </ul>
  <h3 class='movie-about'>About</h3>
  <p class='movie-text'>{{overview}}</p>
<div class='movie-buttons'>
  <button type='button' class='modal-button movie-add-watched' data-id=''>add to Watched</button>
  <button type='button' class='modal-button movie-add-queue' data-id=''>add to queue</button>
</div>
</div>

</div>