{{#each this}}
  <li class='student-info'>
    <img class='student-img' src='{{image}}' alt='{{student_img}}' />

    <p class='info-item'>Name: <span class='info-item-student'>{{name}}</span></p>
    <p class='info-item'>Position: <span class='info-item-student'>{{position}}</span></p>
    <p class='info-item'>Срок исправительных работ:
      <span class='info-item-student'>{{time}}</span></p>
    <p class='info-item-student'>{{time}}</p>
    <p class='info-item'>Личное дело: <span class='info-item-student'>{{github}}</span></p>

  </li>
{{/each}}